<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>

        <!-- 顶级菜单 -->
        <menuitem id="main_data_menu_root"
                  name="Main Data"
                  web_icon="base,static/description/settings.png"
                  sequence="-100"
        />

        <!-- 一级菜单 -->
        <menuitem id="system_manager_menu"
                  parent="main_data_menu_root"
                  name="System manage"
                  sequence="10"

        />

        <!-- 二级菜单 -->

        <menuitem id="user_manager_menu"
                  parent="system_manager_menu"
                  name="User manage"
                  action="base.action_res_users"
                  sequence="10"
        />


        <!-- 二级菜单 -->

        <menuitem id="role_manager_menu"
                  parent="system_manager_menu"
                  name="Group manage"
                  action="base.action_res_groups"
                  sequence="20"
        />

        <!-- 二级菜单 -->
         <!--
        <menuitem id="permission_manager_menu"
                  parent="system_manager_menu"
                  name="Permission manage"
                  action="base.action_res_groups"
                  sequence="30"
        />
        -->

        <!-- 一级菜单 -->
        <menuitem id="product_manager_menu"
                  parent="main_data_menu_root"
                  name="Product manage"
                  sequence="20"

        />

        <!-- 二级菜单 -->
        <menuitem id="goods_manager_menu"
                  parent="product_manager_menu"
                  name="Goods manage"
                  action="stock.product_template_action_product"
                  sequence="10"
        />

        <!-- 二级菜单 -->

        <menuitem id="service_product_manager_menu"
                  parent="product_manager_menu"
                  name="Service product manage"
                  action="product_template_action_service_product"
                  sequence="20"
        />


        <menuitem id="menu_products"
                  name="Product Variant"
                  action="product.product_normal_action_sell"
                  parent="product_manager_menu"
                  sequence="30" />

        <!--
         <menuitem id="sub_menu_product_bundle"
             action="odoo_product_pack_bundle.bundle_product_template_action"
             name="Bundle Products"
             sequence="40"
             parent="product_manager_menu"/>
         -->

        <!-- 一级菜单 -->
        <menuitem id="customer_contract_manager_menu"
                  parent="main_data_menu_root"
                  name="Custom contract manage"
                  sequence="30"

        />

        <!-- 二级菜单 -->
        <menuitem id="customer_contract_manager_menu_id"
                  parent="customer_contract_manager_menu"
                  name="Customer contract"
                  action="action_customer_aop_contract_view"
                  sequence="10"
        />

        <!-- 二级菜单 -->
        <!--
        <menuitem id="customer_rate_manager_menu"
                  parent="delivery.menu_delivery"
                  name="Customer contract"
                  action="action_customer_aop_contract_view"
                  sequence="10"
        />
        -->

        <!--供应商合同-->
        <!--
        <menuitem id="aop_supplier_contract_manager_menu"
                  parent="delivery.menu_delivery"
                  name="Supplier contract manager"
                  action="action_aop_supplier_contract_view"
                  sequence="20"
        />
        -->

        <!-- 二级菜单 -->
        <!--
        <menuitem id="customer_service_product_manager_menu"
                  parent="customer_contract_manager_menu"
                  name="Custom service product manage"
                  action="product_template_action_service_product"
                  sequence="20"
        />
        -->

        <!-- 一级菜单 -->
        <menuitem id="supplier_contract_manager_menu"
                  parent="main_data_menu_root"
                  name="Supplier contract manage"
                  sequence="40"

        />

        <!-- 二级菜单 -->
        <menuitem id="supplier_rate_manager_menu"
                  parent="supplier_contract_manager_menu"
                  name="Supplier rate manage"
                  action="action_aop_supplier_contract_view"
                  sequence="10"
        />

        <!-- 二级菜单 -->
        <!--
        <menuitem id="supplier_service_product_manager_menu"
                  parent="supplier_contract_manager_menu"
                  name="Supplier service product manage"
                  action="product_template_action_service_product"
                  sequence="20"
        />
        -->

        <!-- 一级菜单 -->
        <!--
        <menuitem id="picking_manager_menu"
                  parent="main_data_menu_root"
                  name="Picking manage"
                  sequence="50"

        />
        -->

        <!-- 二级菜单 -->
        <!--
        <menuitem id="steps_manager_menu"
                  parent="picking_manager_menu"
                  name="Steps manage"
                  action="stock.action_picking_type_list"
                  sequence="10"
        />
        -->

        <!-- 二级菜单 -->
        <!--
        <menuitem id="route_manager_menu"
                  parent="picking_manager_menu"
                  name="Route manage"
                  action="stock.action_routes_form"
                  sequence="20"
        />
        -->

        <!-- 一级菜单 -->
        <!--
        <menuitem id="customer_manager_menu"
                  parent="main_data_menu_root"
                  name="Customer"
                  sequence="60"

        />
        -->

        <!-- 二级菜单 -->
        <!--
        <menuitem id="customer_info_manager_menu"
                  parent="customer_manager_menu"
                  name="Custom information manage"
                  action="base.action_partner_form"
                  sequence="10"
        />
        -->

        <!-- 二级菜单 -->
        <!--
        <menuitem id="address_manager_menu"
                  parent="customer_manager_menu"
                  name="Address"
                  action="base.action_partner_form"
                  sequence="20"
        />
        -->

        <!-- 一级菜单 -->
        <!--
        <menuitem id="supplier_manager_menu"
                  parent="main_data_menu_root"
                  name="Supplier"
                  sequence="70"

        />
        -->

        <!-- 二级菜单 -->
        <!--
        <menuitem id="supplier_manager_sub_menu"
                  parent="supplier_manager_menu"
                  name="Supplier"
                  action="base.action_partner_supplier_form"
                  sequence="10"
        />
        -->

        <!-- 一级菜单 -->
        <!--
        <menuitem id="warehouse_info_manager_menu"
                  parent="main_data_menu_root"
                  name="Warehouse"
                  sequence="80"
        />
        -->
        <!-- 二级菜单 -->
        <!--
        <menuitem id="warehouse_info_location_manager_menu"
                  parent="warehouse_info_manager_menu"
                  name="Warehouse"
                  action="stock.action_warehouse_form"
                  sequence="10"
        />
        -->

        <!-- 二级菜单 -->
        <!--
        <menuitem id="location_manager_menu"
                  parent="warehouse_info_manager_menu"
                  name="Location"
                  action="stock.action_location_form"
                  sequence="20"
        />
        -->

        <!-- 一级菜单 -->
        <menuitem id="financial_manager_menu"
                  parent="main_data_menu_root"
                  name="Financial"
                  sequence="90"

        />

        <!-- 二级菜单 -->
        <menuitem id="fee_type_manager_menu"
                  parent="financial_manager_menu"
                  name="Accounts"
                  action="account.action_account_form"
                  sequence="10"
        />

        <!-- 二级菜单 -->
        <!--
        <menuitem id="income_parameter_manager_menu"
                  parent="financial_manager_menu"
                  name="Income"
                  action="account.action_invoice_tree"
                  sequence="20"
        />
        -->

        <!-- 二级菜单 -->
        <!--
        <menuitem id="cost_parameter_manager_menu"
                  parent="financial_manager_menu"
                  name="Cost"
                  action="account.action_vendor_bill_template"
                  sequence="30"
        />
        -->

        <!-- 物流网络->保险管理, 一级菜单 -->
        <menuitem id="insurance_manager_menu"
                  parent="stock.menu_stock_root"
                  name="Insurance"
                  sequence="30"
        />

        <!-- 物流网络->保险管理->保险管理, 二级菜单 -->
        <menuitem id="insurance_manager_sub_menu"
                  parent="insurance_manager_menu"
                  name="Insurance"
                  action="action_insurance_management"
                  sequence="10"
        />

        <!-- 物流网络->保险管理->保险管理, 二级菜单 -->
        <menuitem id="insurance_manager_sub_menu_type"
                  parent="insurance_manager_menu"
                  name="Insurance Type"
                  action="action_insurance_management_type"
                  sequence="10"
        />

        <!-- 物流网络->质损管理, 一级菜单 -->
        <menuitem id="mass_loss_manager_menu"
                  parent="stock.menu_stock_root"
                  name="Quality Management"
                  sequence="50"
        />

        <!-- 物流网络->质损管理->质损单, 二级菜单 -->
        <menuitem id="mass_loss_order_child_menu_order" parent="mass_loss_manager_menu" name="Quality Order"
                  action="action_mass_loss_order" sequence="10"/>

        <!-- 物流网络->质损管理->质损类型, 二级菜单 -->
        <menuitem id="mass_loss_order_child_menu_type" parent="mass_loss_manager_menu" name="Quality type"
                  action="action_mass_loss_type" sequence="20"/>

        <!-- 物流网络->质损管理->质损部位, 二级菜单 -->
        <menuitem id="mass_loss_order_child_menu_part" parent="mass_loss_manager_menu" name="Quality part"
                  action="action_mass_loss_part" sequence="30"/>

        <!-- 物流网络->质损管理->质损附件信息, 二级菜单 -->
        <menuitem id="mass_loss_order_child_menu_attachment" parent="mass_loss_manager_menu" name="Quality attachment"
                  action="action_mass_loss_attachment" sequence="40"/>


        <!--火车-->
        <menuitem id="train_manage"
                  name="Trains"
                  web_icon="aop_sale,static/description/train.png"
                  sequence="90"
        />
        <menuitem action="fleet.fleet_vehicle_action" parent="train_manage" id="train_menu"/>

        <!--税务发票-->
        <menuitem id="account_tax_invoice" parent="account.menu_finance" name="Tax invoice"/>

        <menuitem id="account_tax_invoice_menu" parent="account_tax_invoice" action="account_tax_invoice_action"
                  name="Tax invoice"/>

<!--        税务发票批次号-->
        <record id="account_invoice_no_tax_invoice_action" model="ir.actions.act_window">
            <field name="name">Invoice no</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">invoice.no.tax.invoice</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
        </record>

        <menuitem id="account_invoice_no_tax_invoice_menu" parent="account_tax_invoice"
                  action="account_invoice_no_tax_invoice_action"
                  name="Invoice no"/>


        <!--        结算清单，对账 批次号-->
        <record id="account_purchase_invoice_batch_no_action" model="ir.actions.act_window">
            <field name="name">Reconciliation batch no</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">purchase.invoice.batch.no</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
        </record>

        <menuitem id="account_purchase_invoice_batch_no_menu" parent="account_tax_invoice"
                  action="account_purchase_invoice_batch_no_action"
                  name="Reconciliation batch no"/>

        <menuitem id="sale_order_line_id"
                  name="Order line"
                  action="action_sale_order_line_view"
                  parent="sale.sale_order_menu"/>

        <!--导入-->
        <record id="action_import_sale_order_wizard" model="ir.actions.act_window">
            <field name="name">Import</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">import.sale.order.wizard</field>
            <field name="target">new</field>
            <field name="view_type">form</field>
            <field name="view_mode">form</field>
        </record>

        <menuitem id="import_sale_order_wizard"
                  name="Import order"
                  action="action_import_sale_order_wizard"
                  parent="sale.sale_order_menu"/>

        <!--基地-->
        <menuitem id="base_warehouse_manage"
                  parent="stock.menu_stock_root"
                  name="Base"
                  sequence="30"
        />
        <menuitem id="base_warehouse_id"
                  name="Base"
                  action="action_base_warehouse_view"
                  parent="base_warehouse_manage"/>

        <menuitem
                action="product_vehicle_type_action_form" id="menu_product_vehicle_type_stock"
                parent="stock.menu_product_in_config_stock"/>


<!--        核销-->
        <record id="action_write_off_line_order_wizard" model="ir.actions.act_window">
            <field name="name">Write-off</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">write.off.line.wizard</field>
            <field name="target">new</field>
            <field name="view_type">form</field>
            <field name="view_mode">form</field>
        </record>

        <menuitem id="month_close_wizard_menu_id" parent="account.menu_finance" name="Monthly"/>

        <record id="action_month_close_wizard_view" model="ir.actions.act_window">
            <field name="name">Monthly</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">month.close.wizard</field>
            <field name="view_type">form</field>
            <field name="target">new</field>
            <field name="view_mode">form</field>
        </record>

        <menuitem id="month_close_wizard_id" parent="month_close_wizard_menu_id" action="action_month_close_wizard_view"
                  name="Monthly"/>

        <record id="action_handover_vin_view" model="ir.actions.act_window">
            <field name="name">Handover VIN</field>
            <field name="res_model">handover.vin</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
        </record>

        <menuitem id="handover_vin_menu_id"
                  name="Handover VIN"
                  parent="sale.sale_order_menu"/>

        <menuitem id="handover_vin_sub_menu_id"
                  name="Handover VIN"
                  action="action_handover_vin_view"
                  parent="handover_vin_menu_id"
                  sequence="10"
        />

        <menuitem id="write_off_batch_menu_id"
                  name="Write-off batch"
                  action="action_write_off_batch_view"
                  parent="aop_sale.handover_vin_menu_id"
                  sequence="20"
        />

        <record id="action_billable_file_view" model="ir.actions.act_window">
            <field name="name">Billable</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">billable.file</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
        </record>

        <menuitem id="billable_file_id"
                  name="Billable"
                  action="action_billable_file_view"
                  parent="sale.sale_order_menu"/>

<!--        对账-->
        <record id="action_reconciliation_file_view" model="ir.actions.act_window">
            <field name="name">Reconciliation</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">reconciliation.file</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
        </record>

        <menuitem id="reconciliation_file_id"
                  name="Reconciliation"
                  action="action_reconciliation_file_view"
                  parent="account.menu_finance_receivables"/>

        <!-- 对帐批次号 -->
        <record id="action_batch_reconciliation_number" model="ir.actions.act_window">
            <field name="name">Reconciliation batch</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">batch.reconciliation.number</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
        </record>

        <menuitem id="batch_reconciliation_number_id"
                  name="Reconciliation batch"
                  action="action_batch_reconciliation_number"
                  parent="account.menu_finance_receivables"/>

<!--      审核批次号 -->
        <record id="action_verify_batch_reconciliation" model="ir.actions.act_window">
            <field name="name">Verify batch</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">verify.batch.reconciliation</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
        </record>

        <menuitem id="verify_batch_reconciliation_id"
                  name="Verify batch"
                  action="action_verify_batch_reconciliation"
                  parent="account.menu_finance_receivables"/>


        <menuitem id="purchase_account_invoice_id"
                  name="Purchase invoice line"
                  action="action_purchase_account_invoice_view"
                  parent="account.menu_finance_payables"/>

        <record id="action_write_off_batch_view" model="ir.actions.act_window">
            <field name="name">Write-off batch</field>
            <field name="res_model">write.off.batch.number</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
        </record>


    </data>
</odoo>