/* /web_views_list_dynamic/static/src/scss/buttons.scss defined in bundle 'web.assets_backend' */
.mk_list_button_switch {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
}

.mk_list_button_switch label {
  padding: 1px 0 0 0;
  margin-bottom: 0;
}